body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f8fb;
    text-align: center;
}

header {
    background-image: url('https://t4.ftcdn.net/jpg/02/76/08/07/240_F_276080724_hltnCyDjcqAyRtLzDYo3T2jXbBtCD7fl.jpg'); /* Add a background image */
    color: rgb(245, 245, 245);
    padding: 60px 30px;
    background-size: cover;
    background-position: center;
}
header h2{
    font-weight: bold;
    font-size: larger;
    text-align: center;
    font-size: larger;
}
header p{
    font-weight: bold;
    text-align: center;
    font-size: larger;
}
header button{
    background-color: #007bff;
    padding: 10px;
    border: none;
    margin: 5px;
    border-radius: 3px;
    cursor: pointer;
    color:white;
    transition: background-color 0.3s;
}
header button:hover{
   
    padding: 10px;
    border: none;
    margin: 5px;
    cursor: pointer;
    border-radius: 3px;
    background-color: #0056b3;
}
footer{
    padding: 10px;
    margin: 5px;
    background-color: rgb(44, 40, 40);
    justify-content: center;
    color: #f4f8fb;

}

.features {
    display: flex;
    padding: 15px;
    margin: 10px;
    justify-content: center;
}

.feature{
    padding: 20px;
    margin: 10px;
    justify-content:center;
    transition: transform 0.3s ease box-shadow 0.3s ease;
     box-shadow : 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: white;
    border-radius: 4px;
}
.feature:hover{
    transform: scale(1.04);
    padding: 20px;
    margin: 10px;
    justify-content: center;
    border-radius: 4px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
   
}

footer p{
    padding: 20px;
    margin: 5px;
    color: #f4f8fb;
    margin: 10px;
}

